---
---

.skill-lockup {
  max-width: 540px;
  margin: 50px auto;
  color: #fff;
  clear: both;
  content: "";
  display: table;

  .skill-unit {
    width: 270px;
    float: left;
  }
  .skill-icons {
    font-size: 0;
    margin: 3px 0 30px;
    span {
      display: inline-block;
      width: 14px;
      height: 14px;
      // outline selected color
      background-color: rgba(#ff8a00, 0.89);
      margin-right: 8px;
      border-radius: 50%;
      &:after {
        content: "";
        display: block;
        width: 10px;
        height: 10px;
        // inside selected color
        background: #000;
        border-radius: 50%;
        margin: 2px;
      }
    }
    @for $i from 1 through 10 {
      &.skill-#{$i} span:nth-child(n+#{$i + 1}) {
        @extend %skill-color;
      }
    }
  }
}

%skill-color {
  // unselected color
  background: #fff;
}

@media screen and (max-width: 541px) {
  .skill-lockup {
    width: 220px;
    .skill-unit {
      width: 220px;
    }
  }
}
