// Variables

$primary: rgba(#ff8a00, 0.89);
$dark: #343232;
$light: #fff;

$navbar-text-shadow: true;
$header-text-shadow: true;
$header-background-color: $dark;
$intro-text-color: $primary;
$navbar-color: $light;
$navbar-lg-collapse-background-color: $header-background-color;
$navbar-lg-background: transparent;
$navbar-sm-background-color: $navbar-lg-collapse-background-color;

$social-buttons-color: $primary;
